@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

*{
  font-family: Montserrat;
}
.container {
    overflow-y: auto;
    width : 100%;
    height: auto;
    margin:auto;
    margin-top: 10%;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    position : absolute;
    left: 50%;
    top : 30%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
}

/* button */
button:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
#login .container #login-row #login-column #login-box {
  max-width: 600px;
  height: 350px;
  border-radius: 15px;
  background-color: #6d6d6d;
  -webkit-text-fill-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 40px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/* text field */
#username{
  -webkit-text-fill-color: black;
}
#password{
  -webkit-text-fill-color: black;
}